<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> <%= title %> </h1>

    <ul>
        <% for(let i = 0; i < contacts.length; i++) { %>
        <li>
            <form action="/bot/message" method="POST">
                Username: <%= contacts[i].username %> <br>
                Chat id: <%= contacts[i].chatId %> <br>
                <input type="text" name="chatId" value="<%= contacts[i].chatId %>" hidden>
                <button type="submit">Send message</button> <br><br>
            </form>
        </li>
        <% } %>
    </ul>

</body>

</html>